@import "tailwindcss";


:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}
body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

* {
  user-select: text;
}

/* globals.css or any CSS file */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::selection {
  background-color: #fdf571; /* your custom bg */
  color: #000;               /* text color */
}

::-moz-selection {
  background-color: #fdf571;
  color: #000;
}

input,
textarea {
  user-select: text !important;
}

/* Selection ONLY inside AnimatePresence modal */
.modal-selection ::selection {
  background: black;
  color: white;
}

.modal-selection ::-moz-selection {
  background: black;
  color: white;
}


/* Black scrollbar for textarea */
textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
}

/* Firefox */
textarea {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}
